.bglogin{
    background-size: cover;
    margin: 0;
    background-image: url(../images/loginbg.jpeg);
}

.bgcreate{
    background-size: cover;
    margin: 0;
    background-image: url(../images/createbg.jpg);
}

.bgforgot{
    background-size: cover;
    margin: 0;
    background-image: url(../images/forgetterybg.jpg);
}