.bg{
    margin: 0;
    /* background-color: rgba(var(--b3f,250,250,250),1);*/
    background-color: teal;
}

.bglogin{
    background-size: cover;
    margin: 0;
    /* background-image: url(../images/loginbg.jpeg); */
}

.bgcreate{
    background-size: cover;
    margin: 0;
    background-image: url(../images/createbg.jpg);
}

.bgforgot{
    background-size: cover;
    margin: 0;
    background-image: url(../images/forgetterybg.jpg);
}

.pokemon {
    position: relative;
    top: 75px;
}

.capture-box {
    width: 60%;
    height: 40%;
    position: relative;
    background-color: aliceblue;
    left: 20%;
    top: 50px;
}

.upload-box {
    position: absolute;
    left: 10%;
    top: -25px;
}

.upload-form{
    position: relative;
    top: 85%;
}

.post-img {
    width: 100px;
    height: 50px;
    position: absolute;
    top: 10px;
    background-color: hotpink;
}

.canvas-inner{
    height: 100%;
    width: 60%;
    padding-left: 20%;
}

.upload-canvas{
    width: 800;
    height: 600;
    position: relative;
    background-color: aliceblue;
    left: 10%;
    top: 50px;
    object-fit: cover;
}

.styles-box{
    width: 150px;
    height: 80%;
    position: absolute;
    background-color: burlywood;
    right: 5%;
    top: 65px;
}

.panel-clear{
    position: relative;
    top: 45%;
}

.take-picture {
    position: absolute;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSBRYuJtADOGDS2FxDfrIEreDEiabbJQxIEr9qfI6CVzBL_GDE3&s);
    background-size: 100%;
    width: 95px;
    height: 75px;    
    top: 35%;
}

.upload-file {
    position: absolute;
    top: 25px;
    left: 0;
}

.upload-button {
    position: absolute;
    left: 0;
    top: 50px;
}

.fd{
    position: relative;
    top: 75px;
    left: 50px;
    height: 100%;
    width: 92%;
    overflow: hidden;
    background-color: cornflowerblue;
}

.white-border {
    position: relative; 
    /* background-color: white; */
    height: 50%;
    width: 80%;
    left: 10%;
    right: 10%;

}

.feed-white-space{
    background-color: white;
    position: relative;
    height: 50%;
    width: 80%;
    left: 10%;
    top: 50px;
}

.feed-work-space{
    background-color: crimson;
    position: relative;
    height: 100%;
    width: 60%;
    left: 20%;
    top: 0px;
}

.feed-img {
    position: relative;
    left: 10%;
    top: 0px;
}

.details {
    position: relative;
    top: 70px;
    width: 100%;
    height: 90%;
}

.top-stuff{
    position: absolute;
    width: 75%;
    left: 0;
    top: 0%;
}

.profile_pic {
    top: 100px;
    left: 10%;
    position: relative;
    height: 200px;
    width: 200px;
    border-radius: 100px;
}

.biography {
    font-size: 40;
    position: relative;
    padding-left: 40%;
    top: -110px;
    width: 51.5%;

}

.biography1 {
    position: relative;
    font-size: 30;
    left: 0px;
    padding-left: 45%;
    top: -210px;
    width: 43%;
}

.notified{
    width: 300px;
    height: 50px;
    opacity: 80%;
    position: absolute;
    top: -83;
    right: 10%;
    background-color: green;
}

.options-blocks{
    position: absolute;
    bottom: 100px;
    width: 80%;
    height: 50%;
    left: 8%;
}

.option_block_1 {
    background-color: cadetblue;
    position: absolute;
    height: 50px;
    width: 200px;
}

.option_block_2 {
    background-color: cadetblue;
    position: absolute;
    height: 50px;
    width: 200px;
    top: 20%;
}

.option_block_3 {
    background-color: cadetblue;
    position: absolute;
    height: 50px;
    width: 200px;
    top: 40%;
}

.option_block_4 {
    background-color: cadetblue;
    position: absolute;
    height: 50px;
    width: 200px;
    top: 60%;
}

.change-usr-img{
    position: absolute;
    width: 100px;
    height: 25px;
    top: 320px;
    left: 10%;
}

.position-box{
    position: fixed;
    top: 0;
    left: 0;
    bottom:0;
    right:0;
    pointer-events: none;
}

.box-location1{
    pointer-events: all;
    position: relative;
    top: 47%;
    left: 50%;

    width: fit-content;
    text-align: center;
    position: relative;
    background-color: transparent;
    margin-top: 40px;
    font-size: 25px;
    border: transparent;
    border: none;
    border-bottom: 1px solid #000000;
}

.box-location2{
    pointer-events: all;
    position: relative;
    top: 50%;
    left: 39.5%;

    width: fit-content;
    text-align: center;
    position: relative;
    background-color: transparent;
    margin-top: 40px;
    font-size: 25px;
    border: transparent;
    border: none;
    border-bottom: 1px solid #000000;
}

.box-location3{
    pointer-events: all;
    position: relative;
    top: 54%;
    left: 29.8%;
}

.box_1 {
    display: none;
    position: relative;
}

.box_2 {
    display: none;
    position: inherit;
}

.box_3 {
    display: none;
    position: inherit;
}

.box_4 {
    display: none;
    position: inherit;
}

.box_5 {
    display: none;
    position: inherit;
}

.show1 {display: block;}

.show2 {display: block;}

.show3 {display: block;}

.show4 {display: block;}

.show5 {display: block;}

#butsize {
    width: 100%;
    height: 100%;
}

.dropsies {
        /* background-color: #3498DB; */
        background-color: cadetblue;
        /* padding-left: 100px; */
        font-size: 16px;
        border: none;
        cursor: pointer;
}

.shape{
    background-color: khaki;
    height: 200px;
    width: 100px;
}

.frame-feed {
    position: absolute;
    top: 50px;
    left: 12%;
    width: 76%;
    height: 92%;
    background-color: white;
}

.feed-usr {
    position:relative;
    left:10%;
    top:0px;
    display: inline;
}

.feed-date{
    display: inline;
    position: relative;
    bottom: 0;
    left: 40%;
}

.feed-like{
    display: inline;
    position:relative;
    /* top:-35px; */
    /* float:right; */
    /* right:86.5%; */
    /* top: 5%; */
    /* bottom: 10%; */
    left: 10%;

}

.feed-likes {
    display: inline;
    /* width: 150px; */
    position: relative;
    top: 0;
    left: 15%;
}

.feed-delete{
    left: 80%;
    position: absolute;
    display: inline;
    /* left: 504px; */
}

.the-box{
    /* pointer-events: none; */
    position: relative;
    top: 50px;
    height: 45%;
    width: 100%;
}

.feed-line {
    position: relative;
    top: 50px;
    height: 50px;
}

.feed-bottom {
    /* background-color: violet;*/
    position: relative;
    bottom: -50;
    width: 100%;
    height: 100px;
    pointer-events: none;
}

.upload-panel{
    position: absolute;
    left: 5%;
    height: 70%;
    width: 10%;
    background-color: chocolate;
    top: 12%;
}

.form-button{
    background-color: indianred;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

.option_block_5{
    position: absolute;
    bottom: 70px;
}

.option_block_6{
    position: absolute;
    bottom: -25;
}

.no-uploads{
    position: relative;
    top: 35%;
    /* left: 30%; */
    font-size: 40px;
    text-align: center;
}

.profile-forms{
    position: relative;
    top: 50%;
    left: 40%;
    width: 200px;
    height: 400px;
    /* background-color: indianred; */
}

.profile-inputs{
    width: fit-content;
    text-align: center;
    position: relative;
    background-color: transparent;
    margin-top: 40px;
    font-size: 25px;
    border: transparent;
    border: none;
    border-bottom: 1px solid #000000;
}

.profile-submit{
    position: relative;
    top: 50px;
    left: 72.5px;
}