.head {
    position: fixed;
    background-color: rgb(39, 37, 37);
    height: 50px;
    width: 100%;
    left: 0;
    top: 0;
    border-radius: 7px;
    z-index: 1;
}

.icon{
    font-size: 25;
    padding-top: 10px;
    padding-left: 10px;
    color: grey;
    float: left;
}

.loggedin-user{
    font-size: 25px;
    color: grey;
    position: absolute;
    left: 47.5%;
    top: 8px;
    /* background-color: purple; */
    height: 50px;
    width: 400px;
}

.create{
    font-size: 1px;
    padding-top: 15px;
    padding-right: 8px;
    float: right;
}

#link{
    text-decoration: none;
    /* font-family: ; */
    font-size: 15px;
    color: grey;
}

#logout{
    position: absolute;
    right: 15px;
    top: 12px;
    text-decoration: none;
    /* font-family: ; */
    font-size: 20;
    color: grey;
}

.line{
    height: 100%;
    border-left: solid thick whitesmoke;
    float: right;
    position: right;
    padding-right: 7px;
}

.options {
    pointer-events: none;
    width: 40px;
    border-top: solid thick grey;
    padding-top: 8px;
}

.other_option{
    pointer-events: none;
    padding-top: 8px;
}

.forgot{
    position: absolute;
    padding-top: 15px;
    padding-left: 15px;
    text-decoration: none;
    color: white;
}