.head {
    position: absolute;
    background-color: rgb(39, 37, 37);
    height: 50px;
    width: 100%;
    left: 0;
    top: 0;
    border-radius: 7px;
}

.icon{
    font-size: 25;
    padding-top: 10px;
    padding-left: 10px;
    color: grey;
    float: left;
}

.create{
    padding-top: 12px;
    padding-right: 8px;
    float: right;
    position: right;
}

#link{
    text-decoration: none;
    /* font-family: ; */
    font-size: 20;
    color: grey;
}

.line{
    height: 100%;
    border-left: solid thick whitesmoke;
    float: right;
    position: right;
    padding-right: 7px;
}

.options {
  width: 40px;
    border-top: solid thick grey;
    padding-top: 8px;
}

.other_option{
    padding-top: 8px;
}

.forgot{
    position: absolute;
    padding-top: 15px;
    padding-left: 15px;
    text-decoration: none;
    color: white;
}